/*  style.css built by tom whalley */

/* colors:
	green: rgb(132,152,100);
	dark green: rgb(89,100,66);
	darkest green: rgb(34,39,19);
	light brown: rgb(189,174,131);
	brown: rgb(140,122,72);
	darker brown: rgb(102,88,51);
	darkest brown: rgb(47,42,22);
	pale yellow: rgb(236,232,197);
*/


/* ===============
	  GENERAL
=============== */
html, body { height: 100%; width: 100%; font-size: 100%; overflow: hidden; }

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		    box-sizing: border-box;
	background-repeat: no-repeat;
	margin: 0; padding: 0; outline: 0;
	font-family: 'Maven Pro', sans-serif;
}

body { background: url(../images/back.jpg); }
/*
div {
	border: 1px solid white;
} 
*/
#wrapper {
	height: 100%;
	width: 100%;
	position: fixed;
	overflow: hidden;
	-webkit-transition: all 0.8s;
	   -moz-transition: all 0.8s;
	        transition: all 0.8s;
}
#wrapper.main { background: rgba(189,174,131,0.5); }
#wrapper.about { background: rgba(86,82,67,0.5); }
#wrapper.company { background: rgba(140,122,72,0.5); }
#wrapper.contact { background: rgba(160,122,72,0.5); }
section	{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;	left: 0; right: 0; bottom: 0;
	-webkit-transition: all 0.6s;
	   -moz-transition: all 0.6s;
	        transition: all 0.6s;
}

h1 { color: rgb(47,42,22); font-size: 2.5em; }

/* ===============
 	   MAIN
=============== */
#main {
	position: absolute;
	z-index: 10;
}

	.navigation {
		position: absolute;
		z-index: 600;
		width: 650px;
		height: 100px;
		text-align: center;
	}

	#about_nav {
	    -webkit-transform: rotate(270deg);
		   -moz-transform: rotate(270deg);
		        transform: rotate(270deg);
		text-shadow: -3px -4px 5px rgba(0,0,0,.33);
		left: -275px;
		top: 400px;
	}

	#company_nav {
	    -webkit-transform: rotate(270deg);
		   -moz-transform: rotate(270deg);
		        transform: rotate(270deg);
		text-shadow: -3px -4px 5px rgba(0,0,0,.33);
		right: -274px;
		top: 400px;
	}

	#contact_nav {
		text-shadow: -3px 4px 5px rgba(0,0,0,.33);
		bottom: 0;
		left: 50%;
		margin-left: -325px;
	}
header {
	position: absolute;
	width: 960px;
	left: 50%;
	margin-left: -480px;
	top: 100px;
}

header h2 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 160px;
	color: rgb(34,39,19);
	text-shadow: -3px 4px 5px rgba(0,0,0,.33);
}

/* nav positions */
#main.main { top: 0; margin-left: 0; }
#main.about { top: 0; margin-left: 94%; }
#main.company { top: 0; margin-left: -94%; }
#main.contact { top: -70%; margin-left: 0; }

#turtle {
	width: 800px;
	height: 417px;
	margin: auto;
	position: relative;
	top: 50%;
	margin-top: -120px;
}

/*============
  THE TURTLE
============*/

svg { position: absolute; }
polygon { transition: all 0.3s; }
.overshell { opacity: 0.8; }
.overshell:hover{ opacity: 0.3; }
#s1 { left: 155px; top: 22px; width: 14.5%; }
#s2 { left: 265px; top: -4px; width: 22.2%; }
#s3 { left: 420px; top: 1px; width: 16.5%; }
#s4 { left: 81px; top: 92px; width: 16.1%; }
#s5 { left: 194px; top: 53px; width: 21%; }
#s6 { left: 358px; top: 20px; width: 22.8%; }
#s7 { left: 533px; top: 36px; width: 12.7%; }
#s8 { left: 27px; top: 203px; width: 19.3%; }
#s9 { left: 151px; top: 177px; width: 24.5%; }
#s10 { left: 300px; top: 120px; width: 25%; }
#s11 { left: 458px; top: 84px; width: 24.6%; }
#s12 { left: 621px; top: 100px; width: 16%; }
#s13 { left: 144px; top: 310px; width: 25.4%; }
#s14 { left: 290px; top: 250px; width: 26.5%; }
#s15 { left: 440px; top: 199px; width: 24.5%; }
#s16 { left: 595px; top: 172px; width: 14.5%; }
#outershell { position: absolute; z-index: 100; width: 800px; top: 172px; pointer-events: none; }


/* ===============
    ABOUT KYLE
=============== */
#about {
	z-index: 8;
}

#kylehead {
	position: absolute;
	top: 15em;
	left: 50em;
	text-shadow: -3px 4px 5px rgba(0,0,0,.1);
}

h2 { color: #103108; font-size: 2.5em; }

.textblock {
	position: absolute;
	width: 44em;
	height: 20em;
	top: 20em;
	left: 25em;
}


/* nav positions */
#about.main { top: 0; margin-left: -100%; }
#about.about { top: 0; margin-left: -6%; }
#about.company { top: 0; margin-left: -194%; }
#about.contact { top: -70%; margin-left: -100%; }


/* ===============
      COMPANY
=============== */
#company {
	z-index: 1;
}

/* nav positions */
#company.main { top: 0; margin-left: 100%; }
#company.about { top: 0; margin-left: 194%; }
#company.company { top: 0; margin-left: 6%; }
#company.contact { top: -70%; margin-left: 100%; }


/* ===============
 	  CONTACT
============== */
#contact {
	z-index: 1;
}

/* nav positions */
#contact.main { top: 100%; margin-left: 0; }
#contact.about { top: 100%; margin-left: 94%; }
#contact.company { top: 100%; margin-left: -94%; }
#contact.contact { top: 30%; margin-left: 0; }


/* ===============
    SHELL STUFF
=============== */
.shell {display: inline-block;}



/* ===============
 	DETAIL BOX
================ */



/* ===============
 	 CLEARFIX
============== */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */