@font-face {
    font-family: 'Slabberton';
    src: local('Slabberton Regular'), local('Slabberton'),
        url('../fonts/Slabberton.woff2') format('woff2'),
        url('../fonts/Slabberton.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
svg[height='0'][aria-hidden='true'] { position: fixed; }

html {
	height: 100%;
	width: 100%;
	min-height: 100%;
	background-color: #1b1f20;
}
.background {
	height: 100%;
	width: 100%;
	background: linear-gradient(to bottom, #1d1a24, #111112);
	filter: url(#grain);
	position: fixed;
	top: 0; left: 0;
}
.background:before {
	content: '';
	top: 0; left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	filter: url(#grain);
	background: repeating-radial-gradient(
		circle at 100% 200%,
		#1b1f2033,
		#1b1f20 2rem
	), repeating-radial-gradient(
		circle at 0% 200%,
		#58334c44,
		#1b1f20 2rem
	);
}

header {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
	font-family: 'Slabberton';
}

h1 {
	font-size: 8rem;
	line-height: 1.03;
	color: #eedcd8;
}
h2 {
	color: #eedcd8;
	font-size: 3.5rem;
	margin-top: -0.5rem;
}

.tallshadow {
	text-shadow: 
		0 0 #df6262,
		0 1px #df6262,
		0 2px #df6262,
		0 3px #df6262,
		0 4px #df6262,
		0 5px #df6262,
		0 6px #df6262,
		0 7px #df6262,
		0 8px #df6262,
		0 9px #df6262,
		0 10px #df6262;
}

@media screen and (max-width: 930px) {
	h1 {
		font-size: 6rem;
	}
	h2 {
		font-size: 2rem;
	}
}

@media screen and (max-width: 690px) {
	h1 {
		font-size: 3.25rem;
	}
	h2 {
		font-size: 1.2rem;
		margin-top: -0.25rem;
	}
}

@media screen and (max-width: 375px) {
	h1 {
		font-size: 2.5rem;
	}
}