body { overflow-x: hidden; background: url("https://www.toptal.com/designers/subtlepatterns/patterns/geometry.png");}

/* ============== HEADER ============== */
/* ============== HEADER ============== */
/* ============== HEADER ============== */

header {
	height: 70vh; width: 100vw;
	top: 0;
	background: #ED7D5B;
	color: #FFFFFF;
	box-shadow: 0 2px 6px rgba(0,0,0,0.25);
	overflow: hidden;
	font-family: Arvo;
	transition: height 400ms ease;
	position: fixed;
	z-index: 40;
}

nav ul {
	position: absolute;
	top: 20px;
	right: 10vw;
	font: 800 20px/22px Arvo;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	margin-left: 5vw;
	color: white;
	cursor: pointer;
}
nav ul li:hover {
	color: #ffe07d;
}

.headcontent {
	position: absolute;
	text-transform: uppercase;
	font-size: 60px;
	font-family: 'Fredoka One';
	top: 25%;
	left: 15vw;
	height: 75%; width: 85vw;
	z-index: 6;
}

.whalley {
	position: absolute;
	transition: all 200ms ease-in-out;
	transition-delay: 100ms;
}

.whalley.one, .whalley.three {
	top: 0; left: 0;
	transform-origin: top left;
 }
.whalley.two, .whalley.four { transform-origin: bottom left; }
.whalley.one { transform: rotate(60deg);}
.whalley.two { transform: rotate(-120deg);
	left: calc(100% + 30px); top: -30px; }
.whalley.three { transform: rotate(120deg);
	left: calc(100% + 30px); top: 20px; }
.whalley.four { transform: rotate(-120deg);
	left: calc(100% + 30px); top: -30px;}

.headcontent:hover .whalley, header.banner .whalley {
	transform: rotate(360deg);
	top: 0; left: 0;
	transition-delay: 0ms;
}
.headcontent:before {
	content: 'rulz';
	position: absolute;
	color: #FFC3B0;
	z-index: 5;
	left: 0%;
	opacity: 0;
	transition: 100ms all ease-out;
	transition-delay: 0ms;
}

.headcontent:hover:before, .banner .headcontent:before {
	transition-delay: 200ms;
	left: 300px;
	opacity: 1;
}
.headcontent:after {
	content: 'wabsit maker';
	position: absolute;
	color: #FFC3B0;
	z-index: 5;
	top: 0px;
	left: 0;
	opacity: 0;
	transition: 120ms all ease-out;
	transition-delay: 0ms;
}
.headcontent:hover:after, .banner .headcontent:after {
	transition-delay: 100ms;
	top: 60px;
	opacity: 1;
}
.headcontent:hover .byline, .banner .byline {
	animation: byline-popin 800ms ease forwards;
}

.byline {
	font-size: 20px;
	height: 60px;
	text-transform: none;
	text-align: right;
	position: absolute;
	bottom: 50px;
	right: 10vw;
	opacity: 0;
	color: white;
	transition: opacity 200ms ease-in-out;
}
header.banner {
	height: 230px;
}


@keyframes byline-popin {
	0% { transform: scale(0.8) rotate(0deg); opacity: 0; }
	85% { transform: scale(0.8) rotate(0deg); opacity: 0; }
	90% {
		transform: scale(1.12) rotate(-4deg); opacity: 1;
	}
	100% {
		transform: scale(1) rotate(0deg); opacity: 0.75;
	}
}


/* ============== GREETING ============== */
/* ============== GREETING ============== */
/* ============== GREETING ============== */

.greeting {
	margin-top: 75vh;
	width: 100vw;
	padding: 0 25px;
	text-align: center;
}

.greeting h2 {	
	color: #154C6D;
	font: 800 2em/2em Arvo;
}


/* ============== WORK ============== */
/* ============== WORK ============== */
/* ============== WORK ============== */

.work {
	z-index: 20;
	margin-top: 500px;
	width: 100vw;
}

.work ul {
	list-style-type: none;
	margin: 0; padding: 0;
}

.work ul li {
	height: 500px;
	width: 100%;
	margin: 5vw;
	border: 50px solid inherit;
	border-left: 0;
	border-right: 0;
	z-index: 1;
}

.work li:nth-child(odd) {
	background: #FFC3B0;
	border-top-right-radius: 500px;
	border-bottom-left-radius: 500px;
	transform: rotate(6deg);
}

.work li:nth-child(odd) .inner {
	transform: rotate(-6deg);
}

.work li:nth-child(even) {
	background: #ED7D5B;
	border-top-left-radius: 500px;
	border-bottom-right-radius: 500px;
	transform: rotate(-6deg);
}

.work li:nth-child(even) .inner {
	transform: rotate(6deg);
}

/* ============== CONTACT ============== */
/* ============== CONTACT ============== */
/* ============== CONTACT ============== */

.contact { height: 75vh; }

/* ============== FOOTER ============== */
/* ============== FOOTER ============== */
/* ============== FOOTER ============== */

footer {
	height: 20vh; width: 100vw; background: #c05f39;
}