<div id="detail" ng-controller="detailController">
	
	<div class="detail_text" id="detail_head" ng-repeat="text in header">
		<blockquote>{{text.head}}</blockquote>
	</div>

	<div id="gallery">
		<ul id="gallery_img">
			<li class="thumb" ng-repeat="image in thumbnails">
				<img ng-src="{{image.thumbnail}}" alt="{{image.description}}" />
			</li>
		</ul>
	</div>

	<a href=""><div class="mover" id="prev" style="left: 0;">&laquo;</div></a>
	<a href=""><div class="mover" id="next" style="right: 0;">&raquo;</div></a>

	<div class="detail_text" id="detail_contact">
		<blockquote>contact kyle</blockquote>
		<div><a href="http://www.email.com"><img src="images/em.png" alt="email" /></a></div>
	</div>

<script src="js/detail.js"></script>

</div>