<div class="column">
		<div class="music_box">

		<div class="music_text">
			<h5>DTB</h5>
			<p>dtb basically stands for "down to bumble" and talks about our love of dorky little bees; it began in 1643 as a movement against the borgoise but now is trite and cliche</p>
		</div> <!-- end music text --> 

		<div class="music_socials">
			<ul>
				<li><a href="http://www.youtube.com" class="link youtube_f"></a></li>
				<li><a href="http://www.soundcloud.com" class="link soundcloud_f"></a></li>
				<li><a href="http://www.bandcamp.com" class="link bandcamp_f"></a></li>
			</ul>
		</div> <!-- end music socials --> 

		<div class="album" style="background: url(images/album.png) no-repeat;"></div>
	</div>
</div>